{% extends "layout.twig" %}

{% block title %}Releases{% endblock %}

{% block content %}
    <h1 class="float-lg-left">Releases</h1>

    <div class="btn-group float-lg-right" role="group">
        <a href="{{ latest.url }}/download" class="btn btn-secondary can-hide"><span class="fa fa-download"></span> Download latest stable</a>
        <a href="{{ latest.url }}" class="btn btn-secondary"><span class="fa fa-external-link"></span> View latest stable on CurseForge</a>
        {% if can('contributor') %}
            <a href="/releases/create" class="btn btn-secondary"><span class="fa fa-plus"></span> Create</a>
        {% endif %}
    </div>

    <div class="clearfix"></div>

    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Releases</li>
    </ol>

    <center>
        <div class="btn-group" role="group">
            <a class="btn btn-secondary {% if page == 0 %}disabled{% endif %}" href="?page={{ page }}"><span class="fa fa-angle-left"></span></a>
            {% for i in 1..pagesTotal %}
                <a class="btn btn-secondary {% if page + 1 == i %}active{% endif %}" href="?page={{ i }}">{{ i }}</a>
            {% endfor %}
            <a class="btn btn-secondary {% if page == pagesTotal - 1 %}disabled{% endif %}" href="?page={{ page + 2 }}"><span class="fa fa-angle-right"></span></a>
        </div>
    </center>

    <table class="table">
        <thead class="thead-default">
        <tr>
            <th width="25%">Version</th>
            <th width="25%">Date<span class="can-hide"> released</span></th>
            <th width="20%">Minecraft<span class="can-hide"> version</span></th>
            <th width="20%" class="can-hide">Released by</th>
            <th width="10%" class="can-hide">
                <center>Download</center>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for release in releases %}
        <tr {% if release.status == 1 %}class="table-danger"{% endif %}>
            <td><a href="/releases/{{ release.id }}"><span class="can-hide">Refined Storage </span>{{ release.version }}</a> {{ getReleaseBadge(release.type)|raw }}</td>
            <td>{{ release.date|date("Y-m-d") }}</td>
            <td>{{ release.mc_version }}</td>
            <td class="can-hide"><a href="/profile/{{ release.user.username }}">{{ release.user.username }}</a></td>
            <td class="can-hide">
                <center><a href="{{ release.url }}/download" class="btn btn-secondary btn-sm"><span class="fa fa-download"></span></a></center>
            </td>
        </tr>
        </tbody>
        {% endfor %}
    </table>

    <center>
        <div class="btn-group" role="group" style="margin-bottom: 0px">
            <a class="btn btn-secondary {% if page == 0 %}disabled{% endif %}" href="?page={{ page }}"><span class="fa fa-angle-left"></span></a>
            {% for i in 1..pagesTotal %}
                <a class="btn btn-secondary {% if page + 1 == i %}active{% endif %}" href="?page={{ i }}">{{ i }}</a>
            {% endfor %}
            <a class="btn btn-secondary {% if page == pagesTotal - 1 %}disabled{% endif %}" href="?page={{ page + 2 }}"><span class="fa fa-angle-right"></span></a>
        </div>
    </center>
{% endblock %}