{% extends "layout.twig" %}

{% block title %}Releases{% endblock %}

{% block content %}
    <h1 class="float-lg-left">Releases</h1>

    <div class="btn-group float-lg-right" role="group">
        <a href="{{ latest.download_url }}" class="btn btn-secondary can-hide"><span class="fa fa-download"></span> Download latest stable</a>
        <a href="{{ latest.file_url }}" class="btn btn-secondary"><span class="fa fa-external-link"></span> View latest stable on CurseForge</a>
        <a href="https://jenkins.raoulvdberge.com" class="btn btn-secondary can-hide"><span class="fa fa-flask"></span> Development builds</a>
        {% if can('contributor') %}
            <a href="/releases/create" class="btn btn-secondary"><span class="fa fa-plus"></span> Create</a>
        {% endif %}
    </div>

    <div class="clearfix"></div>

    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Releases</li>
    </ol>

    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item {% if page == 0 %}disabled{% endif %}"><a class="page-link" href="?page={{ page }}"><span class="fa fa-angle-left"></span></a></li>
            {% for i in 1..pagesTotal %}
                <li class="page-item {% if page + 1 == i %}active{% endif %}"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endfor %}
            <li class="page-item {% if page == pagesTotal - 1 %}disabled{% endif %}"><a class="page-link" href="?page={{ page + 2 }}"><span class="fa fa-angle-right"></span></a></li>
        </ul>
    </nav>

    <table class="table">
        <thead class="thead-default">
        <tr>
            <th width="30%">Version</th>
            <th width="20%">Date<span class="can-hide"> released</span></th>
            <th width="20%">Minecraft<span class="can-hide"> version</span></th>
            <th width="30%" class="can-hide">Released by</th>
        </tr>
        </thead>
        <tbody>
        {% for release in releases %}
        <tr {% if release.status == 1 %}class="table-danger"{% endif %}>
            <td><a href="/releases/{{ release.id }}"><span class="can-hide">Refined Storage </span>{{ release.version }}</a> {{ getReleaseBadge(release.type)|raw }}</td>
            <td>{{ release.date|date("Y-m-d") }}</td>
            <td>{{ release.mc_version }}</td>
            <td class="can-hide"><a href="/profile/{{ release.user.username }}">{{ release.user.username }}</a></td>
        </tr>
        </tbody>
        {% endfor %}
    </table>

    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item {% if page == 0 %}disabled{% endif %}"><a class="page-link" href="?page={{ page }}"><span class="fa fa-angle-left"></span></a></li>
            {% for i in 1..pagesTotal %}
                <li class="page-item {% if page + 1 == i %}active{% endif %}"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endfor %}
            <li class="page-item {% if page == pagesTotal - 1 %}disabled{% endif %}"><a class="page-link" href="?page={{ page + 2 }}"><span class="fa fa-angle-right"></span></a></li>
        </ul>
    </nav>
{% endblock %}