{% extends "layout.twig" %}

{% block title %}{{ release.version }}{% endblock %}

{% block content %}
    <h1 class="float-lg-left">{{ release.version }}</h1>

    {% include 'releases_view_buttons.twig' with {'release': release} %}

    <div class="clearfix"></div>

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/releases">Releases</a></li>
        <li class="breadcrumb-item active">{{ release.version }}</li>
    </ol>

    <table class="table table-reflow">
        <tr>
            <th scope="row" width="20%">Version</th>
            <td>{{ release.version }} {{ getReleaseBadge(release.type)|raw }}</span></td>
        </tr>
        <tr>
            <th scope="row" class="thead-default">Released<span class="can-hide"> by</span></th>
            <td><a href="/profile/{{ release.user.username }}">{{ release.user.username }}</a></td>
        </tr>
        <tr>
            <th scope="row" class="thead-default">Date<span class="can-hide"> released</span></th>
            <td>{{ release.date|date("Y-m-d") }}</td>
        </tr>
        <tr>
            <th scope="row" class="thead-default">Minecraft<span class="can-hide"> version</span></th>
            <td>{{ release.mc_version }}</td>
        </tr>
        <tr>
            <th scope="row" class="thead-default">Changelog</th>
            <td>{{ release.changelog|nl2br }}</td>
        </tr>
    </table>
{% endblock %}