{% extends "layout.twig" %}

{% block title %}Revisions{% endblock %}

{% block content %}

    <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeModalLabel">Delete Revision</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this revision?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <h1 class="float-lg-left">Revisions</h1>

    <div class="clearfix"></div>

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/wiki">Wiki</a></li>
        <li class="breadcrumb-item"><a href="/wiki/{{ wiki.url }}">{{ wiki.name }}</a></li>
        <li class="breadcrumb-item">Revisions</li>
    </ol>

    {% if removed %}
        <div style="width: 80%" class="alert alert-success" role="alert">Revision removed.</div>
    {% endif %}

    <table class="table">
        <thead class="thead-default">
        <tr>
            <th width="10%">#</th>
            <th width="25%">Date</th>
            <th width="25%" class="can-hide">User</th>
            <th width="25%" class="can-hide">Reverted</th>
            <th width="15%"></th>
        </tr>
        </thead>
        <tbody>
        {% set id = revisions|length %}
        {% set count = revisions|length %}
        {% for revision in revisions %}
            <tr>
                <td>{{ id }}</td>
                <td><a href="/wiki/{{ wiki.url }}/{{ revision.hash }}">{{ revision.date|date("Y-m-d H:i:s") }}</a></td>
                <td class="can-hide"><a href="/profile/{{ revision.user.username }}">{{ revision.user.username }}</a></td>
                <td class="can-hide">
                    {% if revision.reverted_from != 0 %}
                        <a href="/wiki/{{ wiki.url }}/{{ revision.revertedFrom.hash }}">{{ revision.revertedFrom.hash }}</a>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if count > id %}
                        {% if can('admin')%}
                        <a class="btn btn-secondary" href="#" data-href="/wiki/revision/{{ revision.hash }}/delete"  data-toggle="modal" data-target="#removeModal"><span class="fa fa-trash-o"></span> Remove</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% set id = id - 1 %}
        {% endfor %}
        </tbody>
    </table>
    <script>
        $('#removeModal').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
    </script>
{% endblock %}