{% extends "layout.twig" %}

{% block css %}
    <link rel="stylesheet" href="/assets/simplemde.min.css">
    {{ parent() }}
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="/assets/simplemde.min.js"></script>
{% endblock %}

{% block title %}Create{% endblock %}

{% block content %}
    <script>
        $(document).ready(function () {
            new SimpleMDE({
                element: document.getElementById("body"),
                spellChecker: false
            });
        });
    </script>

    <h1>Create</h1>

    <div class="clearfix"></div>

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/wiki">Wiki</a></li>
        <li class="breadcrumb-item">Create</li>
    </ol>

    {% if errors|length > 0 %}
        <div class="alert alert-danger" role="alert">
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" value="{{ copy.name }}" class="form-control">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input type="text" name="url" id="url" value="{{ copy.url }}" class="form-control">
        </div>
        <div class="form-group">
            <label for="icon">Icon</label>
            <input type="text" name="icon" id="icon" value="{{ copy.icon }}" class="form-control">
        </div>
        <div class="form-group">
            <label for="body">Body</label>
            <textarea class="form-control" rows="20" name="body" id="body">{{ copyRevision.body }}</textarea>
        </div>
        <input type="submit" class="btn btn-primary" name="submit" value="Create">
        <input type="submit" class="btn btn-secondary" name="submit_back" value="Create and view">
    </form>
{% endblock %}