{% extends "layout.twig" %}

{% block title %}Revisions{% endblock %}

{% block content %}
    <h1 class="float-lg-left">Revisions</h1>

    <div class="clearfix"></div>

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/wiki">Wiki</a></li>
        <li class="breadcrumb-item"><a href="/wiki/{{ wiki.url }}">{{ wiki.name }}</a></li>
        <li class="breadcrumb-item">Revisions</li>
    </ol>

    {% if removed %}
        <div style="width: 80%" class="alert alert-success" role="alert">Revision removed.</div>
    {% endif %}

    <table class="table">
        <thead class="thead-default">
        <tr>
            <th width="10%">#</th>
            <th width="25%">Date</th>
            <th width="25%" class="can-hide">User</th>
            <th width="25%" class="can-hide">Reverted</th>
            <th width="15%"></th>
        </tr>
        </thead>
        <tbody>
        {% set id = revisions|length %}
        {% set count = revisions|length %}
        {% for revision in revisions %}
            <tr>
                <td>{{ id }}</td>
                <td><a href="/wiki/{{ wiki.url }}/{{ revision.hash }}">{{ revision.date|date("Y-m-d H:i:s") }}</a></td>
                <td class="can-hide"><a href="/profile/{{ revision.user.username }}">{{ revision.user.username }}</a></td>
                <td class="can-hide">
                    {% if revision.reverted_from != 0 %}
                        <a href="/wiki/{{ wiki.url }}/{{ revision.revertedFrom.hash }}">{{ revision.revertedFrom.hash }}</a>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if count > id %}
                        {% if can('admin')%}
                        <a href="/wiki/revision/{{ revision.hash }}/delete" class="btn btn-secondary"><span class="fa fa-trash-o"></span> Remove</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% set id = id - 1 %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}