{% extends "layout.twig" %}

{% block css %}
    <link rel="stylesheet" href="/assets/simplemde.min.css">
    {{ parent() }}
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="/assets/simplemde.min.js"></script>
{% endblock %}

{% block title %}Edit{% endblock %}

{% block content %}
    <script>
        $(document).ready(function () {
            new SimpleMDE({
                element: document.getElementById("body"),
                spellChecker: false
            });
        });
    </script>

    <h1>Edit</h1>

    <div class="clearfix"></div>

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/wiki">Wiki</a></li>
        <li class="breadcrumb-item"><a href="/wiki/{{ wiki.url }}">{{ wiki.name }}</a></li>
        <li class="breadcrumb-item">Edit</li>
    </ol>

    {% if errors|length > 0 %}
        <div class="alert alert-danger" role="alert">
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" value="{{ wiki.name }}">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input type="text" name="url" id="url" value="{{ wiki.url }}" class="form-control">
        </div>
        <div class="form-group">
            <label for="icon">Icon</label>
            <input type="text" name="icon" id="icon" value="{{ wiki.icon }}" class="form-control">
        </div>
        <div class="form-group">
            <label for="body">Body</label>
            <textarea class="form-control" rows="20" name="body" id="body">{{ wiki.revision.body }}</textarea>
        </div>
        <div class="form-group">
            <label for="body">Tags</label>
            <table class="table">
                <thead class="thead-default">
                <tr>
                    <th width="5%"></th>
                    <th width="50%">Name</th>
                    <th width="45%">Release</th>
                </tr>
                </thead>
                <tbody>
                {% for tag in tags %}
                    <tr>
                        <td><input type="checkbox" name="tag-{{ tag.id }}" id="tag-{{ tag.id }}" value="1" {% if tag.id in wikiTags|keys %}checked{% endif %}></td>
                        <td><label class="form-check-label" for="tag-{{ tag.id }}">{{ tag.name }}</label></td>
                        <td>
                            <select class="form-control form-control-sm" name="tag-release-{{ tag.id }}">
                                {% for release in releases %}
                                    <option value="{{ release.id }}" {% if wikiTags[tag.id] == release.id %}selected{% endif %}>{{ release.version }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <input type="submit" class="btn btn-primary" name="submit" value="Edit">
        <input type="submit" class="btn btn-secondary" name="submit_back" value="Edit and view">
    </form>
{% endblock %}